<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Añadir nueva historia de Usuario</h4>
    </div>
    <div class="modal-body">
        <form action="#">
            <div class="row">
                <div class="col-md-2">
                    <label>Description</label>
                </div>
                <div class="col-md-10">
                    <textarea name="description" id="description" cols="60" rows="5"><%= description %></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Color</label>
                </div>
                <div class="col-md-10">
                    <select name="color" id="color">
                        <option value="green" <%= color === 'green' ? 'selected' : '' %>>Green</option>
                        <option value="pink" <%= color === 'pink' ? 'selected' : '' %>>Pink</option>
                        <option value="yellow" <%= color === 'yellow' ? 'selected' : '' %>>Yellow</option>
                        <option value="blue" <%= color === 'blue' ? 'selected' : '' %>>Blue</option>
                        <option value="orange" <%= color === 'orange' ? 'selected' : '' %>>Orange</option>
                    </select>
                </div>
            </div>
                <div class="row">
                <div class="col-md-2">
                    <label>Estimación</label>
                </div>
                <div class="col-md-5">
                    <input name="duration" type="number" value="<%= duration %>"/> horas
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary save">Guardar Cambios</button>
    </div>
    </div>
</div>