<div class="col-md-12" id="top-bar">
    <a href="/" id="logo">
        <h1>Scrum<span>Board</span></h1>
    </a>
    <div id="board-info">
        <div class="actions">
            <a class="destroy">Delete</a> <br/>
            <a class="change">Change</a>
        </div>
        <div id="select-board">
            <a class="btn new">Add Board</a>
                <div id="board-items"></div>
        </div>
    </div>
</div>